In [1]:
import pandas as pd

df_name_basics = pd.read_pickle('../pickles/name.basics.pkl')
df_name_basics.head()

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"actor,miscellaneous,producer","tt0072308,tt0050419,tt0053137,tt0027125"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack,archive_footage","tt0037382,tt0075213,tt0117057,tt0038355"
2,nm0000003,Brigitte Bardot,1934,\N,"actress,music_department,producer","tt0057345,tt0049189,tt0056404,tt0054452"
3,nm0000004,John Belushi,1949,1982,"actor,writer,music_department","tt0072562,tt0077975,tt0080455,tt0078723"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0050986,tt0083922,tt0069467,tt0050976"

In [5]:
import numpy as np

df_names_titles = df_name_basics.copy()
df_names_titles.drop(labels=['primaryName', 'birthYear', 'deathYear', 'primaryProfession'], axis=1, inplace=True)

batch_size = 1000

batches = np.array_split(df_names_titles, len(df_names_titles) // batch_size + (len(df_names_titles) % batch_size > 0))

total_batches = len(batches)
csv_file_path = '../output/name_titles.csv'

for i in range(0, total_batches):
    df_tmp = pd.read_pickle(f'../pickles/name_titles/name_titles_{i}.pkl')

    if i == 0:
        df_tmp.to_csv(csv_file_path, header=True, index=False)
    else:
        df_tmp.to_csv(csv_file_path, mode='a', header=False, index=False)
# Creates Pickles per Batch
# for i, batch in enumerate(batches):
#     batch['knownForTitles'] = batch['knownForTitles'].str.split(',')
#     batch = batch.explode('knownForTitles')
#     batch.to_pickle(f'../pickles/name_titles/name_titles_{i}.pkl')

/usr/local/lib/python3.10/site-packages/numpy/_core/fromnumeric.py:57: FutureWarning: 'DataFrame.swapaxes' is deprecated and will be removed in a future version. Please use 'DataFrame.transpose' instead.
  return bound(*args, **kwds)