Proceeds to analyze and cleanup IMDb Open Source Datasets.

In [1]:
import pandas as pd

In [2]:
df_name_basics = pd.read_pickle('../pickles/name.basics.pkl')
df_name_basics.head()

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"actor,miscellaneous,producer","tt0072308,tt0050419,tt0053137,tt0027125"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack,archive_footage","tt0037382,tt0075213,tt0117057,tt0038355"
2,nm0000003,Brigitte Bardot,1934,\N,"actress,music_department,producer","tt0057345,tt0049189,tt0056404,tt0054452"
3,nm0000004,John Belushi,1949,1982,"actor,writer,music_department","tt0072562,tt0077975,tt0080455,tt0078723"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0050986,tt0083922,tt0069467,tt0050976"

In [3]:
df_name_basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14112767 entries, 0 to 14112766
Data columns (total 6 columns):
 #   Column             Dtype
---  ------             -----
 0   nconst             object
 1   primaryName        object
 2   birthYear          object
 3   deathYear          object
 4   primaryProfession  object
 5   knownForTitles     object
dtypes: object(6)
memory usage: 646.0+ MB

In [4]:
df_name_basics['primaryProfession'].value_counts()

primaryProfession
\N                                                  2751265
actor                                               2500401
actress                                             1604838
miscellaneous                                        816885
producer                                             484347
                                                     ...
production_manager,composer,assistant_director            1
music_artist,producer,podcaster                           1
art_director,make_up_department,casting_director          1
executive,director,production_manager                     1
composer,director,archive_footage                         1
Name: count, Length: 23161, dtype: int64

Two DataFrames could be derivated from this _names.basic.tsv_, one for Names and Professions and another for Titles and Names.

In [5]:
# Creates a copy of tho og df
df_name_professions = df_name_basics.copy()
df_name_professions.drop(labels=['primaryName', 'birthYear', 'deathYear', 'knownForTitles'], axis=1, inplace=True)
df_name_professions['primaryProfession'] = df_name_professions['primaryProfession'].str.split(',')
df_name_professions = df_name_professions.explode('primaryProfession')
df_name_professions.head()

      nconst primaryProfession
0  nm0000001             actor
0  nm0000001     miscellaneous
0  nm0000001          producer
1  nm0000002           actress
1  nm0000002        soundtrack

In [6]:
df_name_professions.to_pickle('../pickles/names_professions.pkl')

In [12]:
# writeout final csv
df_name_professions = pd.read_pickle('../pickles/names_professions.pkl')
df_name_professions.set_index(keys=['nconst'], inplace=True)
df_name_professions[~df_name_professions.isin(['\\N']).any(axis=1)]
df_name_professions.to_csv('../output/name_professions.csv')